@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
.navbar-nav,.nav-btns{
    display: flex;
    padding-left: 2rem;
    flex-direction: row;
    gap:2rem;
    align-items: left;
    justify-content: center;
    flex-wrap: nowrap;
}
.brand-name{
    padding-left:3rem;
}
.navbar-text{
    padding-right: 2rem;
}
.navbar-title{
    font-family: 'Gideon Roman', cursive;
    color: rgba(27, 27, 27, 0.699); 
    text-decoration: none;
    font-size: 3rem;
}
.nav-btns{
    align-items: left;
    justify-content: center;
    padding-right: 5rem; 
    margin-right: 2rem;
}
.fa-heart,.fa-shopping-cart,.fa-search{
    font-size: 3rem;
    margin-top: 2px;
    padding-top:4px;
}
.a-cartmanagement,.a-wishlist,.fa-search{
    color: rgb(27, 26, 26);
    text-decoration: none;
}
.header-nav{
    position: fixed;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color: rgb(255, 252, 252);
    box-shadow: 0 3px 9px 3px rgba(51, 4, 18, 0.5);
    z-index: 2;
}
/* .sm-main-auth{
    z-index: 1;  
    
}*/
.footer{
    background-color: rgb(70, 69, 69);
    font-family: 'Gideon Roman', cursive;
    min-height: auto;
}
.flex-ver{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.footer-heading{
    color:rgb(10, 10, 10);
    font-size: 2.5rem;
}
.footer-text{
    color:rgb(8, 8, 8);
    font-size: 1.7rem;
}

@media (max-width: 992px){
.header {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: auto;
}}